.modal
{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 200;
	backdrop-filter: brightness(30%) blur(2px);

    .modal-container
    {
        height: 100%;
        padding: 0 40px;
		margin: auto auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

		.modal-card
		{
			width: 100%;
			margin: 20px 0px;
			background-color: var(--modal-background-color);
			padding: 20px 20px 30px 20px;
			border-radius: 5px;
		
			overflow-y: scroll;

			.modal-inner
			{
				display: flex;
    			flex-direction: column;
				
				.modal-header
				{
					display: flex;
					justify-content: space-between;
					overflow: hidden;

					.xmark-button
					{
						-webkit-mask-repeat: no-repeat;
						-webkit-mask-position: center;
		
						justify-self: end;
						mask-repeat: no-repeat;
						mask-position: center;
						margin: auto 0px;
						
						background-color: var(--container-color);

						width: 27px;
						height: 27px;
						-webkit-mask-image: url(../icons/circle-xmark.svg);
						mask-image: url(../icons/circle-xmark.svg);

						cursor: pointer;

						&:hover
						{
							background-color: var(--container-active-color);
						}
					}
				}

				.modal-title
				{
					font-weight: bold;
					color: var(--container-active-color);
					font-size: 20px;
					overflow: hidden;				
				}

				&.audio-modal
				{
					display: grid;
					grid-template-columns: 1fr 1fr;
				}
			}

			.button-outline
			{
				margin-top: 20px;
			}

			&::-webkit-scrollbar-thumb 
			{
				border-radius: 5px;
			}
		}
    }
}