.account-page
{
	display: flex;
	flex-direction: column;
	
	.button-group
	{
		display: grid;
		grid-template-columns: 1fr 1fr;
		gap: 10px;

		@media (max-width: $breakpoint-medium)
		{
			grid-template-columns: 1fr;
			grid-template-rows: 1fr 1fr;
			gap: 0px;
		}
	}
	
	.input-picture-container
	{
		display: flex;
		flex-direction: column;
		align-items: center;
		position: relative;

		.input-hidden
		{
			display: none;
		}
	}

	.button-outline
	{
		margin-top: 20px
	}
}