.dark
{
	--selection-color: rgb(5, 5, 5);
	--selection-background-color: rgb(255, 255, 255);

	--sidebar-background-color: rgb(0, 0, 0);
	--sidebar-color: rgb(150, 150, 150);
	--sidebar-active-color: rgb(255, 255, 255);

	--player-background-color: rgb(15, 15, 15);
	--player-border-color: rgb(55, 55, 55);
    --player-active-color: rgb(255, 255, 255);
    --player-color: rgb(180, 180, 180);

	--progressbar-background-color: rgb(100, 100, 100);
	--progressbar-color: rgb(255, 255, 255);
	--progressbar-active-color: rgb(240, 100, 20);
	--progressbar-circle-color: rgb(255, 255, 255);

	--control-background-color: rgb(50, 50, 50);
	--control-color: rgb(210, 210, 210);
	--control-second-color: rgb(150, 150, 150);
	--control-second-active-color: rgb(240, 240, 240);

	--container-background-color: rgb(20, 20, 20);
	--container-active-color: rgb(255, 255, 255);
	--container-color: rgb(180, 180, 180);

	--card-background-color: rgb(30, 30, 30);
	--card-background-active-color: rgb(50, 50, 50);

	--modal-background-color :rgb(30, 30, 30);
	--image-backgroun-color: rgb(55, 55, 55);
	--focus-song-color: rgb(70, 70, 70);
}