@import "./components/all";
@import "./pages/all";

@import "./variables";
@import "./common";

@import "./themes/dark";
@import "./themes/light";
@import "./themes/gogolify";

@font-face
{
	font-family: 'Montserrat';
	src: url('./fonts/Monrserrat/Montserrat-Black.ttf') format('truetype');
	font-weight: 900;
	font-style: normal;
}
  
@font-face 
{
	font-family: 'Montserrat';
	src: url('./fonts/Monrserrat/Montserrat-Bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}
  
@font-face 
{
	font-family: 'Montserrat';
	src: url('./fonts/Monrserrat/Montserrat-Medium.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
  
@font-face 
{
	font-family: 'Montserrat';
	src: url('./fonts/Monrserrat/Montserrat-ExtraBold.ttf') format('truetype');
	font-weight: 800;
	font-style: normal;
}

*
{
	margin: 0;
	padding: 0;
	font-family: Montserrat;
	font-weight: normal;
	
	user-select: none;

	transition: var(--transition-03);

	&::selection 
	{
		color: var(--selection-color);
		background: var(--selection-background-color);
	}
}

:root
{
	--transition-03: all 0.3s ease;
	--transition-04: all 0.4s ease;
	--transition-05: all 0.5s ease;
	--transition-06: all 0.6s ease;

	--sidebar-width: 180px;
}
